.lol {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.glass3 {
  margin: 3rem 7rem 4rem 8rem;
  width: 50%;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.09);
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  padding: 3rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  transform: translate(0rem, 0rem);
}

.glass2 {
  margin: -2rem 0rem 0rem 9rem;
  width: 60%;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.09);
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  padding: 3rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  transform: translate(2.5rem, 0);
}

.glass1 {
  margin: 3rem 0rem 0rem 9rem;
  width: 70%;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.09);
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  padding: 3rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  transform: translate(-4rem, 0);
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 50px;
  /* font-size: 4rem; */
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding-right: 15px;
  margin-bottom: 20px;
}

h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  /* font-size: 2rem; */
  font-size: 30px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 40px;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  transform: translate(0, 15px);
  margin-bottom: 30px;
}

.bodyText {
  transform: translate(0, -15px);
}

h4 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  /* font-size: 1.5rem; */
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 34px;
  margin-bottom: 2rem;
}

h5 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  /* font-size: 1.2rem; */
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 30px;
  color: white;
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  .glass {
    margin: 0.6rem;
    padding: 3.3rem;
    min-height: 31rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }
}
