.container {
  width: 100%;
  height: 300px;
  background-color: #1d2232;
  margin-top: 2rem;
}

.iconGroup {
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
}

.icon {
  height: 40px;
  margin: 0rem 1rem;
}

@media (max-width: 768px) {
  .iconGroup {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}
